@import '../../../assets/scss/variables';

.example-full-width {
    width: 100%;
}

.custom-input {
    position: relative;

    span {
        position: absolute;
        background-color: transparent;
        border: none;
        color: $color13C9F2;
    }
}