<div class="custom-input">
    <mat-form-field *ngIf="!isHour" class="example-full-width" appearance="outline">
        <mat-label>{{inputLabel}}</mat-label>
        <input 
            matInput 
            [(ngModel)]="inputText" 
            [value]="inputText"
            (ngModelChange)="changeText($event)">
    </mat-form-field>

    <span *ngIf="isMedicine">
        <mat-icon [matTooltip]="isMedicine ? 'Puedes ingresar más de un medicamento separado por coma' : 'Puedes ingresar más de una enfermedad separadas por coma'"
        matTooltipPosition="right"
        matTooltipClass="tooltipStyle">help</mat-icon>
    </span>

</div>

<mat-form-field *ngIf="isHour" class="example-full-width" appearance="outline">
    <input matInput
            [(ngModel)]="inputText" 
            [value]="inputText"
            (ngModelChange)="changeText($event)"
            [ngxMatTimepicker]="pickerA"
            [placeholder]="inputText"
            readonly />
</mat-form-field>
<ngx-mat-timepicker #pickerA></ngx-mat-timepicker>