@import '../../../assets/scss/variables';

.alarm-edit {
    &-content {
        width: 50%;
        margin: 0 auto;
        padding-top: 3%;

        h2 {
            text-align: center;
            margin-bottom: 4%;
        }
    
        .alarm-edit-row {
            display: flex;
            align-items: center;

            &--photo {
                align-items: flex-start;
                margin-bottom: 4%;
            }

            p {
                margin: 0;
                width: 30%;
                padding-right: 20px;
                font-size: 14px;
                font-weight: 700;
                color: $color021859;
            }

            .alarm-edit-field {
                width: 70%;
            }

            .container-photo {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 70%;

                .photo {
                    width: 220px;
                    height: 200px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }

        .container-btn {
            width: 40%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
    }

}