@import '../../../assets/scss/variables';

::ng-deep{
    .modal-frecuency {
        position: relative !important;
    }
}

.frecuency-alarm {
    width: 90%;
    height: 60%;
    margin: 0 auto;
    padding-top: 40px;

    h3 {
        text-align: center;
    }

    .mat-icon {
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .content {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-frecuency {
            width: 40%;
        }
        
    }
    
    .btn-save {
        text-align: right;
        position: relative;
        top: 40%;
    }
}